<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" href="/style/style-Home.css">
</head>

<body>

    <!-- NavBar -->
    <nav id="navBackground" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand text-warning" href="/home">Royal Riders</a>
            </div>
            <ul class="nav">
                <li class="font-weight-bold text-monospace"><a href="/login">Login</a> &nbsp; </li>
                <li>&nbsp; | &nbsp; &nbsp; &nbsp;</li>
                <li class="font-weight-bold text-monospace"><a href="/signup"> Sign Up</a> &nbsp; </li>
                <li>&nbsp; | &nbsp; &nbsp; &nbsp;</li>
                <li class="font-weight-bold text-monospace"><a href="/members"> My Account</a> &nbsp; </li>
            </ul>
        </div>
    </nav>
    <main>
        <!-- Main Text on Image -->
        <div class="container">
            <div class="row text-center">
                <div class="col-sm mt-5">
                    <h1 id="pageTitle" class="display-4">Royal Riders</h1>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-sm mt-3">
                    <h5 class="text-danger">* Page Will have below *</h5>
                    <p class="font-weight-bold text-white text-monospace">
                        home page: trip details, list of destinations, with icons: duriation, distance, etc
                        <br>
                        userpage: div with current trips from database. button to allow you to register for the trip.
                        after registration the page will populate with the trip that the user is currently registered
                        for, confirming the trip.
                    </p>
                    <div>
                    </div>
                </div>
    </main>
    <section>
        <div class="container">
            <div class="row text-center mt-3 mb-4">
                <div class="col-sm">
                    <h2 id="pageTitle" class="text-primary">Browse Our Trips</h2>
                    <p class="">
                        Join Royal Rider’s for the opportunity of a lifetime.
                    </p>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="card-deck">
                <div class="card">
                    <img src="/images/img05_1440x832.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>

                <div class="card">
                    <img src="/images/img05_1440x832.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>

                <div class="card">
                    <img src="/images/img05_1440x832.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <span class="circleDruiation text-light bg-primary"><i class="far fas fa-clock"></i></span>
                    <h6 class="mt-2"> 13 days</h6>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <span class="circleTerrain text-light bg-primary"><i class="far fas fa-road"></i></span>
                    <h6 class="mt-2"> Smooth Terrain</h6>
                </div>


            </div>
        </div>


    </div>
    <div class="container">
        <div id="bgContain">
            <div class="container">
                <div class="section grey lighten-3">
                    <div class="row">
                        <div class="col s12 center">
                            <br>
                            <h6 class="secBreadcrumbs text-grey grey-text text-lighten-1 ">About Us</h6>
                            <br>
                            <h4 class="blue-text blue-text text-darken-4">Ride in 3 Steps</h4>
                            <p>Vestibulum lorem sed risus ultricies tristique nulla aliquet.
                                <br> Ut aliquam purus sit lectus magna.</p>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m4">
                            <div class="icon-block center">

                                <div class="rounded-left bg-warning"><a href="#"
                                        class="btn-floating blue darken-1 btn-large"><i
                                            class="fas fa-user-plus"></i></a></div>
                                <h6 class="secBreadcrumbs text-grey grey-text text-lighten-1">Step One</h6>
                                <p>Register your account.</p>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="icon-block center">
                                <a href="#" class="btn-floating blue darken-1 btn-large"><i class="fas fa-map"></i></a>
                                <h6 class="secBreadcrumbs text-grey grey-text text-lighten-1">step Two</h6>
                                <p>Choose your trip.</p>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="icon-block center">
                                <a href="#" class="btn-floating blue darken-1 btn-large"><i
                                        class="fas fa-comments"></i></a>
                                <h6 class="secBreadcrumbs text-grey grey-text text-lighten-1">step three</h6>
                                <p>Submit your payment.</p>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</body>

</html>